<%- include('partials/header') %>

<div class="container">
    <h2>Apply for companies here!</h2>
    <p> <%= rollNo %></p>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Company Name</th>
            <th scope="col">Job Description</th>
            <th scope="col">Min CGPA</th>
            <th scope="col">Apply Here</th>
            </tr>
        </thead>
        <tbody>
            <% if(companies.length != 0){  %>
                <% for(let i=0; i<companies.length; i++){  %>
                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td>
                            <%= companies[i].companyName %>
                        </td>
                        <td>
                            <%= companies[i].jobDescription %>
                        </td>
                        <td>
                            <%= companies[i].minCGPA %>
                        </td>
                        <td>
                            <form action="/student/apply/company" method="post">
                                <input type="hidden" value="<%= companies[i].companyEmail %>" name="companyEmail">
                                <button type="submit" class="btn btn-primary" value="<%= rollNo %>" name="studentRoll">Apply</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('partials/footer') %>